<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.brianluby.trilliumnext-paste</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0194D6A0-1111-4000-8000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194D6A0-2222-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>0194D6A0-2222-4000-8000-000000000002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194D6A0-3333-4000-8000-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>0194D6A0-4444-4000-8000-000000000004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194D6A0-5555-4000-8000-000000000005</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>0194D6A0-5555-4000-8000-000000000005</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194D6A0-3333-4000-8000-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>0194D6A0-6666-4000-8000-000000000006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194D6A0-7777-4000-8000-000000000007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
		<key>0194D6A0-7777-4000-8000-000000000007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0194D6A0-3333-4000-8000-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitowards</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Luby</string>
	<key>description</key>
	<string>Capture snippets or ideas quickly to TrilliumNext</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TrilliumNext Paste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tn</string>
				<key>subtext</key>
				<string>Paste a snippet to TrilliumNext</string>
				<key>text</key>
				<string>TrilliumNext Paste</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0194D6A0-1111-4000-8000-000000000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/paste.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0194D6A0-2222-4000-8000-000000000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TrilliumNext Paste</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0194D6A0-3333-4000-8000-000000000003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tnc</string>
				<key>subtext</key>
				<string>Paste clipboard contents to TrilliumNext</string>
				<key>text</key>
				<string>TrilliumNext Clipboard Paste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0194D6A0-4444-4000-8000-000000000004</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/paste-clipboard.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0194D6A0-5555-4000-8000-000000000005</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>text</key>
				<string>Send to TrilliumNext</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.universalaction</string>
			<key>uid</key>
			<string>0194D6A0-6666-4000-8000-000000000006</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/paste.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0194D6A0-7777-4000-8000-000000000007</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Capture snippets or ideas quickly to TrilliumNext via its ETAPI.

Configure the workflow variables:
  - TRILLIUMNEXT_URL: Your TrilliumNext server URL (e.g. http://localhost:37840)
  - TRILLIUMNEXT_TOKEN: Your ETAPI token
  - TRILLIUMNEXT_PARENT_NOTE_ID: The note ID under which snippets are created (default: root)
</string>
	<key>uidata</key>
	<dict>
		<key>0194D6A0-1111-4000-8000-000000000001</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>0194D6A0-2222-4000-8000-000000000002</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>0194D6A0-3333-4000-8000-000000000003</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>0194D6A0-4444-4000-8000-000000000004</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>0194D6A0-5555-4000-8000-000000000005</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>0194D6A0-6666-4000-8000-000000000006</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>0194D6A0-7777-4000-8000-000000000007</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TRILLIUMNEXT_TOKEN</string>
	</array>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>http://localhost:37840</string>
				<key>placeholder</key>
				<string>http://localhost:37840</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Base URL of your TrilliumNext server</string>
			<key>label</key>
			<string>TrilliumNext URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TRILLIUMNEXT_URL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Your ETAPI token</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>ETAPI authentication token</string>
			<key>label</key>
			<string>ETAPI Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TRILLIUMNEXT_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>root</string>
				<key>placeholder</key>
				<string>root</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Note ID under which snippets will be created</string>
			<key>label</key>
			<string>Parent Note ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TRILLIUMNEXT_PARENT_NOTE_ID</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/brianluby/trilliumnext-paste</string>
</dict>
</plist>
